.vscode/**
.git/**
src/**
tests/**
scripts/**
node_modules/**
**/*.map
**/*.ts
**/*.mts
.gitignore
.github/**
CONTRIBUTING.md
CODE_OF_CONDUCT.md
biome.json
tsconfig.json
vitest.config.ts
esbuild.config.mjs
pnpm-workspace.yaml
pnpm-lock.yaml
!dist/extension.js
