.vscode/**
.git/**
src/**
tests/**
scripts/**
node_modules/**
**/*.map
**/*.ts
**/*.mts
.gitignore
biome.json
tsconfig.json
vitest.config.ts
esbuild.config.mjs
pnpm-workspace.yaml
pnpm-lock.yaml
!dist/extension.js
